
/LibImages/bin/Debug/LibImages.dll
/LibImages/bin/Debug/LibImages.pdb
/LibImages/bin/x86/Debug/LibImages.dll
/LibImages/bin/x86/Debug/LibImages.pdb
/LibImages/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/obj/Debug/LibImages.csproj.FileListAbsolute.txt
/LibImages/obj/Debug/LibImages.dll
/LibImages/obj/Debug/LibImages.pdb
/LibImages/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibImages/obj/x86/Debug/LibImages.csproj.FileListAbsolute.txt
/LibImages/obj/x86/Debug/LibImages.dll
/LibImages/obj/x86/Debug/LibImages.pdb
/LibMPlayerCommon/bin/Debug/LibImages.dll
/LibMPlayerCommon/bin/Debug/LibImages.pdb
/LibMPlayerCommon/bin/Debug/LibMplayerCommon.dll
/LibMPlayerCommon/bin/Debug/LibMplayerCommon.pdb
/LibMPlayerCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibMPlayerCommon/obj/Debug/LibMPlayerCommon.csproj.FileListAbsolute.txt
/LibMPlayerCommon/obj/Debug/LibMplayerCommon.dll
/LibMPlayerCommon/obj/Debug/LibMplayerCommon.pdb
/LibMPlayerCommon/obj/Debug/ResolveAssemblyReference.cache
/LibMPlayerCommon/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LibMPlayerCommon/obj/x86/Debug/LibMPlayerCommon.csproj.FileListAbsolute.txt
/LibMPlayerCommon/obj/x86/Debug/LibMplayerCommon.dll
/LibMPlayerCommon/obj/x86/Debug/LibMplayerCommon.pdb
/LibMPlayerCommon/obj/x86/Debug/ResolveAssemblyReference.cache
/MPlayerControl.suo
/MediaPlayer/bin/Debug/LibImages.dll
/MediaPlayer/bin/Debug/LibImages.pdb
/MediaPlayer/bin/Debug/LibMplayerCommon.dll
/MediaPlayer/bin/Debug/LibMplayerCommon.pdb
/MediaPlayer/bin/Debug/MediaPlayer.exe
/MediaPlayer/bin/Debug/MediaPlayer.exe.config
/MediaPlayer/bin/Debug/MediaPlayer.pdb
/MediaPlayer/bin/Debug/MediaPlayer.vshost.exe
/MediaPlayer/bin/Debug/MediaPlayer.vshost.exe.config
/MediaPlayer/bin/Debug/MediaPlayer.vshost.exe.manifest
/MediaPlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayer/obj/Debug/MediaPlayer.Player.resources
/MediaPlayer/obj/Debug/MediaPlayer.PlayerProperties.resources
/MediaPlayer/obj/Debug/MediaPlayer.Properties.Resources.resources
/MediaPlayer/obj/Debug/MediaPlayer.csproj.FileListAbsolute.txt
/MediaPlayer/obj/Debug/MediaPlayer.exe
/MediaPlayer/obj/Debug/MediaPlayer.pdb
/MediaPlayer/obj/Debug/ResGen.read.1.tlog
/MediaPlayer/obj/Debug/ResGen.write.1.tlog
/MediaPlayer/obj/Debug/ResolveAssemblyReference.cache
/MediaPlayer/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayer/obj/x86/Debug/MediaPlayer.Player.resources
/MediaPlayer/obj/x86/Debug/MediaPlayer.PlayerProperties.resources
/MediaPlayer/obj/x86/Debug/MediaPlayer.Properties.Resources.resources
/MediaPlayer/obj/x86/Debug/MediaPlayer.csproj.FileListAbsolute.txt
/MediaPlayer/obj/x86/Debug/MediaPlayer.exe
/MediaPlayer/obj/x86/Debug/MediaPlayer.pdb
/MediaPlayer/obj/x86/Debug/ResGen.read.1.tlog
/MediaPlayer/obj/x86/Debug/ResGen.write.1.tlog
/MediaPlayer/obj/x86/Debug/ResolveAssemblyReference.cache
/MediaPlayer/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/MplayerUnitTests/bin/Debug/LibImages.dll
/MplayerUnitTests/bin/Debug/LibImages.pdb
/MplayerUnitTests/bin/Debug/LibMplayerCommon.dll
/MplayerUnitTests/bin/Debug/LibMplayerCommon.pdb
/MplayerUnitTests/bin/Debug/MplayerUnitTests.exe
/MplayerUnitTests/bin/Debug/MplayerUnitTests.pdb
/MplayerUnitTests/bin/Debug/nunit.framework.dll
/MplayerUnitTests/bin/x86/Debug/LibImages.dll
/MplayerUnitTests/bin/x86/Debug/LibImages.pdb
/MplayerUnitTests/bin/x86/Debug/LibMplayerCommon.dll
/MplayerUnitTests/bin/x86/Debug/LibMplayerCommon.pdb
/MplayerUnitTests/bin/x86/Debug/MplayerUnitTests.exe
/MplayerUnitTests/bin/x86/Debug/MplayerUnitTests.pdb
/MplayerUnitTests/bin/x86/Debug/nunit.framework.dll
/MplayerUnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MplayerUnitTests/obj/Debug/MplayerUnitTests.csproj.FileListAbsolute.txt
/MplayerUnitTests/obj/Debug/MplayerUnitTests.exe
/MplayerUnitTests/obj/Debug/MplayerUnitTests.pdb
/MplayerUnitTests/obj/Debug/ResolveAssemblyReference.cache
/MplayerUnitTests/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MplayerUnitTests/obj/x86/Debug/MplayerUnitTests.csproj.FileListAbsolute.txt
/MplayerUnitTests/obj/x86/Debug/MplayerUnitTests.exe
/MplayerUnitTests/obj/x86/Debug/MplayerUnitTests.pdb
/MplayerUnitTests/obj/x86/Debug/ResolveAssemblyReference.cache
/SlideShow/bin/Debug/LibImages.dll
/SlideShow/bin/Debug/LibImages.pdb
/SlideShow/bin/Debug/LibMplayerCommon.dll
/SlideShow/bin/Debug/LibMplayerCommon.pdb
/SlideShow/bin/Debug/SlideShow.exe
/SlideShow/bin/Debug/SlideShow.exe.config
/SlideShow/bin/Debug/SlideShow.pdb
/SlideShow/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SlideShow/obj/x86/Debug/ResGen.read.1.tlog
/SlideShow/obj/x86/Debug/ResGen.write.1.tlog
/SlideShow/obj/x86/Debug/SlideShow.MainForm.resources
/SlideShow/obj/x86/Debug/SlideShow.Properties.Resources.resources
/SlideShow/obj/x86/Debug/SlideShow.csproj.FileListAbsolute.txt
/SlideShow/obj/x86/Debug/SlideShow.exe
/SlideShow/obj/x86/Debug/SlideShow.pdb
/SlideShow/bin/Debug/SlideShow.vshost.exe
/SlideShow/bin/Debug/SlideShow.vshost.exe.config
/SlideShow/bin/Debug/SlideShow.vshost.exe.manifest
/SlideShow/bin/Debug/mencoder.exe
/SlideShow/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/SlideShow/bin/Debug/SlideShow.vshost.exe
/SlideShow/bin/Debug/SlideShow.vshost.exe.config
/SlideShow/bin/Debug/SlideShow.vshost.exe.manifest
/SlideShow/bin/Debug/mencoder.exe
/SlideShow/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll